.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

nav a:visited,
a:link {
  color: #607d8b;
}

nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}

nav a.active {
  color: #039be5;
}

nav .nav-bar--logout {
  background-color: #b9d5e3;
  font-weight: 600;
  color: #fff;
  border: none;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
